{% extends "layout.html" %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block scripts %}
<script>
    function query(){
        val=$("#input").val();
        window.location.href="/query/"+val;
    }

$(function(){
    var bestPictures = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: 'https://twitter.github.io/typeahead.js/data/films/post_1960.json',
  remote: {
    url: '.https://twitter.github.io/typeahead.js/data/films/queries/%QUERY.json',
    wildcard: '%QUERY'
  }
});

$('#input').typeahead(null, {
  name: 'best-pictures',
  display: 'value',
  source: bestPictures
});
});






</script>

{% endblock %}


{% block content %}


<div class="container">


    <div class="row">
        <div class="col-md-8">
            <div>
                <input id="input"  type="text" class="typeahead" value="{{ query }}">
                <span class="input-group-btn">
                      <button id="button" class="btn btn-default" type="button" onclick="query()">搜索</button>
                    </span>
            </div>
            <div class="input-group">
                <a href="/query/{{ query }}" class="btn btn-primary active" role="button">相关性排序</a>
                <a href="/query/{{ query }}?order=1" class="btn btn-default active" role="button">热度排序</a>
                <a href="/query/{{ query }}?order=2" class="btn btn-default active" role="button">时间排序</a>
            </div>
        </div>
        <div class="col-md-2">
    </div>

    <div class="row">

        <div class="col-md-8">

            {% if results %}

            <h6> 共{{ resultCount }}条结果，用时{{ sTime }}秒</h6>


            <ul>
                {% for r in results %}
                <h2><a href="/news/{{ r.id }}"> {{ r.title }} </a></h2>
                <a href="{{ r.url }}">{{ r.url }}</a>
                <h4>来源：{{ r.source }} {{ r.reportTime }} 评论:{{ r.hot }}</h4>
                <tr><p>{{ r.content[:100] }}</p></tr>
                {% endfor %}
            </ul>

            {% else %}

            <p>没有搜索结果</p>

            {% endif %}


        </div>


        <div class="col-md-4">
            {% if related %}

            <h3>相关搜索</h3>

            {% for r in related %}
            <p><a href="/query/{{ r }}">{{ r }}</a></p>
            {% endfor %}
            {% endif %}

        </div>


    </div>


</div>


{% endblock  %}