{% extends "layout.html" %}

{% block content %}


<div class="container">

    <div class="row">

        {% autoescape false %}
        <h1>{{ news.title }}</h1>
        {% endautoescape %}
        <h4><a href="{{ news.url }}">{{ news.url }}</a></h4>
        <h4>
            <span class="label label-info"> {{ news.source }}</span>
            <span class="label label-info"> {{ news.category }}</span>
            <span class="label label-info">{{ news.reportTime }}</span>
            <span class="label label-info">{{ news.hot }}</span></h4>
        <hr/>
        {% autoescape false %}
        <p>{{ news.content }}</p>
        {% endautoescape %}
        <hr/>

        <h4> 关键词 :
            {% for keyword in news.keyword.split() %}
            <a href = "/query/{{ keyword }}" class="label label-info">{{ keyword }}</a>
            {% endfor %}
        </h4>

        <hr/>
        <h4>相似新闻</h4>
        {% for r in related %}
        {% autoescape false %}
        {% if query!=None %}
        <h5><a href="/news/{{ r.id }}/{{ query }}">{{ r.title }}</a></h5>
        {% else %}
        <h5><a href="/news/{{ r.id }}">{{ r.title }}</a></h5>
        {% endif %}

        {% endautoescape %}
        {% endfor %}

    </div>

</div>

{% endblock  %}